* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dff4ff;
    height: 100vh;
    width: 100%;

}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 40%;
    border-radius: 8px;
    /* height:; */
    padding-inline: 30px;
    padding-block: 40px;
    background-color: #fff;
}

#taskInput {
    height: 50px;
    width: 80%;
    padding-inline: 30px;
}

#addTaskBtn {
    height: 50px;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(87, 187, 59);
    color: white;
    border: none;
}

#addTaskBtn:hover {
    background-color: rgb(26, 110, 2);
}

ul {
    width: 80%;
}

li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    font-size: medium;
    border-bottom: 1px solid rgba(0, 0, 0, 0.95);
}
li:hover{
    cursor: pointer;
}
.underline{
    text-decoration: line-through;
    color: gray;
}
#deleteBtn {
    height: 40px;
    width: 20%;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(184, 60, 60);
}
#deleteBtn:hover{
  background-color: rgb(103, 15, 15);
}